@import './utils';
@import './layouts';
@import './components';

body {
  // background-color: antiquewhite;
}

.container {
  width: 120rem;
}

h1,
h2 {
  color: red;
}

h1 {
  @include h1($grey);
}

h2 {
  @include h2($grey, left);
}

h3 {
  @include h3($grey);
}

p {
  @include p1($grey);
}

.content {
  position: relative;
  z-index: 2;
}
